.table-container {
  overflow-x: auto;
}

.mat-form-field {
  width: 100%;
}

@media (max-width: 600px) {
  .mat-header-cell, .mat-cell {
    padding: 8px;
    font-size: 0.9rem;
  }

  .mat-icon {
    font-size: 18px;
  }
}
